<h2>Crear Customer</h2>

<div class="container">
  <form>
    <div class="mb-3">
      <label for="firstName" class="form-label">Nombre</label>
      <input [(ngModel)]="firstName" type="text" class="form-control" id="firstName" name="firstName">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Apellidos</label>
      <input [(ngModel)]="lastName" type="text" class="form-control" id="lastName" name="lastName">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>

    <button type="submit" class="btn btn-primary" (click)="addCustomer()">Crear</button>
  </form>
</div>
